.saved-btn {
  min-height: 5vh;
  min-width: 300px;
  background-color: #1d1d1d;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

@keyframes loading-msg {
  0% {color: white;}
  25% {color: cyan;}
  50% {color: blue;}
  100% {color: navy;}
}

.loading-msg {
  animation-name: loading-msg;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@media screen and (max-width: 700px) {
  .outfit {
    width: 100%
  }

  .portrait {
    width: 480px;
    height: 655px;
    object-fit: contain;
  }

  .item-details {
    width: 90%
  }
}

@media screen and (max-width: 450px) {
  .portrait {
    width: 360px;
    height: 490px;
    object-fit: contain;
  }
}
